.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 6px rgb(237, 237, 237);
    z-index: 1000;

    .logoDiv {
        .logo {
            width: 80px;
        }
    }

    .signUp {
        gap: 0.5rem;

        .text {
            padding: 3px 10px;
            background: var(--primaryColor);
            border-radius: 3px;
            color: var(--whiteColor);
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background: var(--secondaryColor);
                color: var(--blackColor);
            }
        }

        .toggleNavbarIcon {
            background: none;
            color: var(--primaryColor);
            font-weight: 600;
            font-size: 25px;
        }
    }

    @media screen and (max-width: 768px) {
        .navbar {
            position: absolute;
            background: var(--secondaryColor);
            width: 80%;
            top: -100rem;
            left: 50%;
            right: 50%;
            transform: translate(-50%);
            border-radius: 10px;
            text-align: center;
            padding: 2rem;
            z-index: 2000px;
            transition: 0.5s ease-in-out;

            .closeIcon {
                position: absolute;
                bottom: -15px;
                left: 50%;
                right: 50%;
                transform: translate(-50%);
                background: var(--secondaryColor);
                color: var(--primaryColor);
                padding: 3px;
                border-radius: 50%;
                font-size: 35px;

                &:hover {
                    color: red;
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            flex-direction: column;

            .listItem {
                width: 100px;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                cursor: pointer;

                a {
                    font-size: 15px;
                }

                &:hover {
                    background: var(--primaryColor);
                }

                &:hover a {
                    color: var(--whiteColor);
                }
            }
        }
    }

    .showNavbar {
        top: 9rem;
        transition: 0.5s ease-in-out;
    }
}

.addBg {
    background: var(--secondaryColor);
    box-shadow: none;

    .logoDiv {
        .logo {
            width: 30px;
        }
    }
}